*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-color: rgb(53, 72, 94);
    background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#container{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 2px solid rgb(41, 118, 153);
    border-radius: 10px;
    background-color: rgba(119, 163, 184, 0.7);
    font-family: Arial, Helvetica, sans-serif;
}
input {
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 4px;
    font-size: 15px;
}
button {
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(56, 139, 172);
    color: white;
}
button:hover{
    background-color: rgb(7, 157, 216);
}
h1 {
    margin: 20px;
    color: rgb(238, 245, 248);
}
#result{
    text-align: center;
    margin: 15px;
    /* padding: 15px; */
}